<div class="card-columns">
    <div class="card puntero" (click)="showArtist(song)" *ngFor="let song of items">
        <img class="card-img-top" [src]="song.images | noimage" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">
                {{song.name}}
            </h5>
            <p class="card-text">
                <span *ngFor="let a of song.artists" class="badge badge-pill badge-dark">
                    {{a.name}}
                </span>
            </p>
        </div>
    </div>
</div>