<div class="container">
    <div *ngIf="errorMessage != ''" class="alert alert-danger" role="alert">
        <div>
            {{errorMessage}}
        </div>
    </div>
    <app-loading *ngIf="loading"></app-loading>
    <app-card [items]="songs" *ngIf="!loading"></app-card>
</div>