<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading" class="row animated fadeIn">
    <div class="col-2">
        <img [src]="artist.images | noimage" class="img-thumbnail img-circle">
    </div>
    <div class="col">
        <h3>{{artist.name}}</h3>
        <p>
            <a [href]="artist.external_urls.spotify" target="_blank">
              Ir a la página del artista
            </a>
        </p>
    </div>
    <div class="col-4">
        <button [routerLink]="['/search']" type="button" class="btn btn-outline-danger">
          Regresar
        </button>
    </div>
</div>
<div class="row">
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Album</th>
                <th>Canción</th>
                <th>Vista previa</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of tracks">
                <td><img [src]="s.album.images | noimage" class="img-thumb" alt=""></td>
                <td>{{s.album.name}}</td>
                <td>{{s.name}}</td>
                <td>
                    <iframe [src]="s.uri | domseguro: 'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </td>
            </tr>
        </tbody>
    </table>
</div>