<div class="row">
    <div class="col">
        <div class="form-group">
            <input #term type="text" class="form-control" (keyup)="search(term.value)" aria-describedby="Buscar" placeholder="Buscar...">
        </div>
    </div>
</div>

<div class="container">
    <app-card [items]="artists" *ngIf="!loading"></app-card>
    <app-loading *ngIf="loading"></app-loading>
</div>